<!-- Add a CSRF token -->
{% extends "manage-base.html" %}
{% include 'partials/sidebar.html' %}
{% block title %}Manage Employees{% endblock %}
{% block body %}
<h1>Manage Employees</h1>
<br>

<h2>Alter Employees (i.e., CUD from CRUD):</h2><br>
<p>You can ignore the fileds that you do not require</p>
<form action="/manage-employees" METHOD="POST">

    <!-- Input field's for the employee table -->
    <h3>Employee Information</h3>
    <input type="text" placeholder="(Optional) User ID" name="user_id">
    <input type="text" placeholder="Department ID" name="dep_id"><br>
    <input type="text" placeholder="Firstname" name="firstname">
    <input type="text" placeholder="Lastname" name="lastname"><br><br>

    <h3>Account Information</h3>
    <input type="text" placeholder="Username" name="username">
    <input type="text" placeholder="Password" name="pass">
    <input type="text" placeholder="Access" name="access"><br><br>

    <h3>Personal Information</h3>
    <input type="text" placeholder="Email" name="email">
    <input type="text" placeholder="Phone" name="phone"><br>
    <input type="text" placeholder="Address ID" name="ad_id">
    <input type="text" placeholder="Bank ID" name="bank_id">
    <input type="text" placeholder="Pay ID" name="pay_id"><br><br>


    <input type="submit" name="submit" value="Create">
    <input type="submit" name="submit" value="Update">
    <input type="submit" name="submit" value="Delete">
</form>
<br>

<h2>View Employees:</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Department ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    {% for employee in employees %}
    <tr>
        <th scope="row">{{ employee.3 }}</th>
        <td>{{ employee.4 }}</td>
        <td>{{ employee.6 }}</td>
        <td>{{ employee.7 }}</td>
        <td>{{ employee.8 }}</td>
        <td>{{ employee.9 }}</td>
    </tr>
    {% endfor %}
</table>
<a>To view more information, such as the employees address or bank information, please fill the following form:</a>
<!-- Have a page with a form/page requesting the employee id and privacy awareness (page awalys refreshes clean i.e., when GET'ed) -->
{% endblock %}