{% extends "base.html" %}
<!-- # Show data from special queries
     # Show buttons to go to crud features
     # Show organizations basic details (access level based) (SELECT where ORG name matches)
     # Has redirect to page with CRUD features -->
{% include 'partials/sidebar.html' %} {% block title %}Organization{% endblock
%} {% block body %}

<!-- Contains the organization details and the special query results -->
<h1>Name: {{ profile.name }}</h1>
<h2>Desc: {{ profile.desc }}</h2>
<h3>Address: {{ profile.address }}</h3>

{% endblock %}
