{% extends "base.html" %}
<!-- # Show data from special queries
     # Show buttons to go to crud features
     # Show organizations basic details (access level based) (SELECT where ORG name matches)
     # Has redirect to page with CRUD features -->
{% include 'partials/sidebar.html' %} {% block title %}Organization{% endblock
%} {% block body %}

<!-- Contains the organization details and the special query results -->
<div style="display: flex; flex-direction: column">
	<h1 style="display: flex">Welcome, {{ profile.name }}!</h1>
	<p style="font-size: large; font-weight: 500">{{ profile.desc }}</p>
	<p style="font-size: large; font-weight: 500">
		Address: {{ profile.address.street_num }} {{ profile.address.street_name }},
		{{ profile.address.city }} {{ profile.address.province }}. {{
		profile.address.postal_code }} {{ profile.address.country }}. Unit Number:
		{{ profile.address.unit_num }}
	</p>
</div>

{% endblock %}
